@import url('header-footer.css');

/* General Styles */
html {
    font-size: 62.5%; /* 10px base for easy rem calculation */
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures consistent box model */
}

/* Typography */
h1 {
    font-size: 2.75rem; /* 25px */
}

h2 {
    font-size: 2.45rem; /* 22.5px */
}

h3 {
    font-size: 2.15rem; /* 20px */
}

h4 {
    font-size: 1.9rem; /* 17.5px */
}

h5 {
    font-size: 1.65rem; /* 15px */
}

p{
    font-size: 1.4rem; /* 12.5px */
}

li{
    font-size: 1.4rem; /* 12.5px */
}

ul {
    font-size: 1.4rem; /* 12.5px */
}

.btn {
    font-size: 1.4rem;
}

/* Small screens (min-width: 576px) */
@media (min-width: 576px) {
    h1 {
        font-size: 2.75rem; /* 25px */
    }
    
    h2 {
        font-size: 2.45rem; /* 22.5px */
    }
    
    h3 {
        font-size: 2.15rem; /* 20px */
    }
    
    h4 {
        font-size: 1.9rem; /* 17.5px */
    }
    
    h5 {
        font-size: 1.65rem; /* 15px */
    }
    
    p{
        font-size: 1.4rem; /* 12.5px */
    }

    li{
        font-size: 1.4rem; /* 12.5px */
    }

    ul{
        font-size: 1.4rem; /* 12.5px */
    }
    
    .btn {
        font-size: 1.4rem;
    }
}

/* Medium screens (min-width: 768px) */
@media (min-width: 768px) {
    h1 {
        font-size: 3rem; /* 30px */
    }

    h2 {
        font-size: 2.5rem; /* 25px */
    }

    h3 {
        font-size: 2.25rem; /* 22.5px */
    }

    h4 {
        font-size: 2rem; /* 20px */
    }

    h5 {
        font-size: 1.75rem; /* 17.5px */
    }

    p{
        font-size: 1.5rem; /* 15px */
    }

    li{
        font-size: 1.5rem; /* 15px */
    }

    ul{
        font-size: 1.5rem; /* 15px */
    }

    .btn {
        font-size: 1.5rem;
    }
}

/* Large screens (min-width: 992px) */
@media (min-width: 992px) {
    h1 {
        font-size: 3.5rem; /* 35px */
    }

    h2 {
        font-size: 3rem; /* 30px */
    }

    h3 {
        font-size: 2.5rem; /* 25px */
    }

    h4 {
        font-size: 2.25rem; /* 22.5px */
    }

    h5 {
        font-size: 2rem; /* 20px */
    }

    p{
        font-size: 1.75rem; /* 17.5px */
    }

    li{
        font-size: 1.75rem; /* 17.5px */
    }

    ul{
        font-size: 1.75rem; /* 17.5px */
    }

    .btn {
        font-size: 1.75rem;
    }
}

/* Extra large screens (min-width: 1200px) */
@media (min-width: 1200px) {
    h1 {
        font-size: 4rem; /* 40px */
    }

    h2 {
        font-size: 3.5rem; /* 35px */
    }

    h3 {
        font-size: 3rem; /* 30px */
    }

    h4 {
        font-size: 2.5rem; /* 25px */
    }

    h5 {
        font-size: 2.25rem; /* 22.5px */
    }

    p ul li{
        font-size: 2rem; /* 20px */
    }

    .btn {
        font-size: 2rem;
    }
}

/* Carousel Styles */
.carousel-item {
    position: relative;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 20%;
}

.carousel-caption p {
    padding-block: 2rem;
}

.carousel-inner img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    width: 5%; /* Adjust width as needed */
    height: 100%;
    border: none; /* Remove border if needed */
    color: white; /* Color of the icons */
    z-index: 1000; /* Ensure buttons are on top of other elements */
}

.carousel-control-prev {
    left: 0;
    transform: translateY(-50%); /* Center vertically */
}

.carousel-control-next {
    right: 0;
    transform: translateY(-50%); /* Center vertically */
}

/* Optional: Increase button size */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 100%, 100%;
    width: 50px;
    height: 50px;
}

.carousel-indicators {
    z-index: 1000;
}

.carousel-indicators button {
    background-color: #000; /* Color of the inactive indicators */
}

.carousel-indicators .active {
    background-color: #fff; /* Color of the active indicator */
}

/* Image Container Styles */
.image-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stretch {
    padding-top: 50%;
    position: relative;
    overflow: hidden;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.row.no-gutters > [class*='col-'] {
    display: flex;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.card {
    position: relative;
    width: 100%;
    aspect-ratio: 4/3;
    perspective: 1000px;
    overflow: hidden;
    margin: 0;
    border-radius: 0;
    border: none;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box {
    width: 100%;
    height: 100%;
    background-color: #ccc; /* Default box color */
}

.sec2b-front {
    background-color: #2D557D; /* Customize for each box */
}

.sec2d-front {
    background-color: #2D557D; /* Customize for each box */
}
.card-body, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.sec2a, .sec2c {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 0, 0);
}

.sec2b, .sec2d {
    /*background-color: rgba(55, 55, 55, 0.8);*/
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
}

.sec3 p, .sec3 h4 {
    display: block;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 5em;
    margin-right: 5em;
}

.container-fluid hr {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10em;
    margin-right: 10em;
    border-style: inset;
    border-width: 2px;
}

.transparent-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}

.sec3a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5%;
}

.sec3a h1 {
    /*font-size: 2em; /* Default size */
    color: rgb(255, 255, 255);
}

/*
@media (min-width: 576px) {
    .sec3a h1 {
        font-size: 2.5em;
    }
}

@media (min-width: 768px) {
    .sec3a h1 {
        font-size: 3em;
    }
}

@media (min-width: 992px) {
    .sec3a h1 {
        font-size: 3.5em;
    }
}*/

.sec3a p {
    /*font-size: 1em; /* Default size */
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 1em;
    padding-bottom: 1em;
}

/*
@media (min-width: 576px) {
    .sec3a p {
        font-size: 1.2em;
    }
}

@media (min-width: 768px) {
    .sec3a p {
        font-size: 1.5em;
    }
}

@media (min-width: 992px) {
    .sec3a p {
        font-size: 1.8em;
    }
}*/

.container-fluid h1,
.container-fluid h2,
.container-fluid h3{
    text-align: center;
}

.sec3b {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    aspect-ratio: 4/3;
}

.sec3b h1 {
    color: rgb(0, 0, 0);
    padding-top: 1em;
}

.sec3b p {
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 3em;
    margin-right: 3em;
}

.sec3b img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10%;
}

.sec4 {
    position: relative;
    aspect-ratio: 1/1;
    max-height: 500px;
    padding: 5%;
}

.sec4 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec4-body {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.sec4-body h1 {
    font-weight: bold;
}

.partners-section {
    padding: 0;
}

.partners-row {
    background-color: #2a577e;
    color: white;
    padding: 30px 0; /* Increased padding for a bigger block */
}

.partners-title {
    /*font-size: 3em; /* Made the title larger */
    margin-right: 40px; /* Added margin to the right of the title */
    font-weight: bold;
}

.partners-logo {
    max-height: 200px; /* Increased the logo size */
    margin: 0 20px; /* Added margin for spacing */
}

/* Responsive adjustments */
@media (max-width: 767.98px) {
    .partners-title {
        /*font-size: 24px; /* Adjust the title size for small screens */
        margin-right: 20px; /* Adjust the margin for smaller screens */
    }

    .partners-logo {
        max-height: 100px; /* Keep the logo size smaller for mobile */
        margin: 0 10px; /* Adjusted margin for smaller screens */
    }
}

.testi-carousel-item {
    align-items: center;
    justify-content: center;
    background-color: #2a577e;
    color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testi-carousel-item blockquote {
    max-width: 80%;
    margin: 0 auto;
    /*font-size: 1.1rem;*/
    line-height: 1.5;
    white-space: normal;
    text-align: justify;
}

.testi-carousel-item blockquote p {
    margin-bottom: 10px;
    font-style: italic;
}

.testi-carousel-item footer {
    color: #d1e0e5;
}

.testi-carousel-control-prev-icon,
.testi-carousel-control-next-icon {
    background-color: #2a577e;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testi-carousel-control-prev,
.testi-carousel-control-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.testi-carousel-control-prev:hover,
.testi-carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.testi-carousel-indicators {
    bottom: -50px;
}

.testi-carousel-indicators li {
    background-color: #d1e0e5;
}

.testi-carousel-indicators .active {
    background-color: #2a577e;
}