.navbar-brand img {
    max-width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.navbar-nav .nav-link {
    color: #ffffff; /* Set text color */
    margin-right: 1em;
    margin-left: 1em;
}

/* Small devices (576px and up) */
@media (min-width: 576px) {
    .navbar-nav .nav-link {
        font-size: medium;
    }
}

/* Medium devices (768px and up) */
@media (min-width: 768px) {
    .navbar-nav .nav-link {
        font-size: x-large;
    }
}

.navbar-nav .nav-link:hover {
    color: #ff2727; /* Set hover text color */
}

.dropdown-menu .dropdown-item {
    color: #000000; /* Set dropdown item text color */
    font-size: larger;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #2f2f2f; /* Set dropdown item hover background color */
    color: #ffffff; /* Set dropdown item hover text color */
    font-size: larger;
}

/* Hide dropdown menu by default */
.dropdown-menu {
    display: none;
}

/* Display dropdown menu on hover */
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}

.carousel-item {
    position: relative;
}

.carousel-caption {
    position: absolute; /* Position relative to .carousel-item */
    top: 50%; /* Move to the vertical center */
    left: 50%; /* Move to the horizontal center */
    transform: translate(-50%, -50%); /* Center the caption precisely */
    text-align: center; /* Center text horizontally */
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    color: white; /* Example text color */
    width: 100%; /* Full width of parent */
    height: 100%;
    padding-top: 20%;
}

.carousel-caption h1 {
    font-size: 5rem; /* Example font size */
    margin: 0; /* Remove default margin */
}


.image-container {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Adjust this to control the aspect ratio */
    overflow: hidden;
}
.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.row.no-gutters > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.card {
    position: relative;
    width: 100%; /* Adjust as necessary */
    aspect-ratio: 4/3;
    perspective: 1000px; /* Added perspective for 3D effect */
    overflow: hidden;
    margin: 0;
    border-radius: 0;
    border: none;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg); /* Flip the card on hover */
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg); /* Initially hidden on the back */
}

.card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Change the color to contrast with the image */
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
}

.sec2a {
    background-color: rgba(18, 52, 139, 0.6); /* semi-transparent background */
    color: rgb(255, 255, 255); /* Change the color to contrast with the image */
}

.sec2b {
    background-color: rgba(255, 255, 255, 0.6); /* semi-transparent background */
    color: rgb(0, 0, 0); /* Change the color to contrast with the image */
}

.sec2c {
    background-color: rgba(18, 52, 139, 0.6); /* semi-transparent background */
    color: rgb(255, 255, 255); /* Change the color to contrast with the image */
}

.sec2d {
    background-color: rgba(255, 255, 255, 0.6); /* semi-transparent background */
    color: rgb(0, 0, 0); /* Change the color to contrast with the image */
}

.stretch {
    padding-top: 30%;
    position: relative;
    overflow: hidden;
}

.transparent-overlay-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.7); /* 70% transparency */
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-text-left {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

.overlay-text-left p {
    font-size: 1.1rem;
    padding-left: 6em;
    padding-right: 6em;
    text-align: left;
}

.transparent-overlay-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* 70% transparency */
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-text-right {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

.overlay-text-right p {
    font-size: 1.1rem;
    padding-left: 6em;
    padding-right: 6em;
    text-align: left;
}

.container-fluid h1 {
    text-align: center;
}

.sec4, .sec5 {
    aspect-ratio: 5/3;
}

.sec4a {
    background-color: rgba(255, 255, 255, 0.6); /* semi-transparent background */
    color: rgb(0, 0, 0); /* Change the color to contrast with the image */
}

.sec4b {
    background-color: rgba(18, 52, 139, 0.6); /* semi-transparent background */
    color: rgb(255, 255, 255); /* Change the color to contrast with the image */
}

.sec4c {
    background-color: rgba(255, 255, 255, 0.6); /* semi-transparent background */
    color: rgb(0, 0, 0); /* Change the color to contrast with the image */
}

.partners {
    background-color: #1e3e5e; /* Change to your desired background color */
    color: white; /* Change text color if needed */
}

.partners-image {
    color: white; /* Change the color to contrast with the image */
    background-color: rgba(0, 0, 0, 0); /* removing background */
}

.partners-title {
    margin: 0; /* Remove default margin from h1 */
    font-size: 4em; /* Adjust font size as needed */
}

.sec6a {
    background-color: rgba(255, 255, 255, 0.6); /* semi-transparent background */
    color: rgb(0, 0, 0); /* Change the color to contrast with the image */
}

.sec6b {
    background-color: rgba(18, 52, 139, 0.6); /* semi-transparent background */
    color: rgb(255, 255, 255); /* Change the color to contrast with the image */
}

.sec6c {
    background-color: rgba(255, 255, 255, 0.6); /* semi-transparent background */
    color: rgb(0, 0, 0); /* Change the color to contrast with the image */
}

.sec6d {
    background-color: rgba(18, 52, 139, 0.6); /* semi-transparent background */
    color: rgb(255, 255, 255); /* Change the color to contrast with the image */
}

.footer {
    background-color: #1e3e5e;
    color: white;
    padding: 40px;
}
.footer a {
    color: #f8f9fa;
    text-decoration: none;
}
.footer a:hover {
    color: #bdadad;
}
.footer .footer-heading {
    font-weight: bold;
    margin-bottom: 20px;
}
.footer .footer-section {
    margin-bottom: 30px;
}

.company-details p {
    font-size: 1.2em;
}

.f-icon {
    margin-right: 1em;
    font-size: 2em;
}