.navbar-brand img {
    max-width: 100%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.navbar-nav .nav-link {
    color: #000000; /* Set text color */
    margin-right: 1em;
    margin-left: 1em;
}

/* Small devices (576px and up) */
@media (min-width: 576px) {
    .navbar-nav .nav-link {
        font-size: medium;
    }
}

/* Medium devices (768px and up) */
@media (min-width: 768px) {
    .navbar-nav .nav-link {
        font-size: x-large;
    }
}

.navbar-nav .nav-link:hover {
    color: #ff2727; /* Set hover text color */
}

.dropdown-menu .dropdown-item {
    color: #000000; /* Set dropdown item text color */
    font-size: larger;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #2f2f2f; /* Set dropdown item hover background color */
    color: #ffffff; /* Set dropdown item hover text color */
    font-size: larger;
}

/* Hide dropdown menu by default */
.dropdown-menu {
    display: none;
}

/* Display dropdown menu on hover */
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}

.carousel-item {
    position: relative;
}

.carousel-caption {
    position: absolute; /* Position relative to .carousel-item */
    top: 50%; /* Move to the vertical center */
    left: 50%; /* Move to the horizontal center */
    transform: translate(-50%, -50%); /* Center the caption precisely */
    text-align: center; /* Center text horizontally */
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    color: white; /* text color */
    width: 100%; /* Full width of parent */
    height: 100%;
    padding-top: 20%;
}

.carousel-caption h1 {
    font-size: 5rem; /* font size */
    margin: 0; /* set margin */
}

.carousel-caption p {
    font-size: 2rem; /* font size */
    padding-block: 2rem; /* set padding */
}

.image-container {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Adjust this to control the aspect ratio */
    overflow: hidden;
}
.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.row.no-gutters > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.card {
    position: relative;
    width: 100%; /* Adjust as necessary */
    aspect-ratio: 4/3;
    perspective: 1000px; /* Added perspective for 3D effect */
    overflow: hidden;
    margin: 0;
    border-radius: 0;
    border: none;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg); /* Flip the card on hover */
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg); /* Initially hidden on the back */
}

.card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body, .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Change the color to contrast with the image */
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
}

.sec2a, .sec2c {
    background-color: rgba(255, 255, 255, 0.8); /* semi-transparent background */
    color: rgb(0, 0, 0); /* Change the color to contrast with the image */
}

.sec2b, .sec2d {
    background-color: rgba(55, 55, 55, 0.8); /* semi-transparent background */
    color: rgb(255, 255, 255); /* Change the color to contrast with the image */
}

.sec3 p { 
    display: block;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 2em;
  }

.container-fluid hr { /* single lines to separate the sections */
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10em;
    margin-right: 10em;
    border-style: inset;
    border-width: 2px;
  } 

.stretch {
    padding-top: 40%;
    position: relative;
    overflow: hidden;
}

.transparent-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 70% transparency */
    display: flex;
}

.sec3a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align items to the bottom */
    align-items: flex-start;  /* Align items to the left */
    width: 50%;
    padding: 5%;
}

.sec3a h1 {
    font-size: 3em;
    color: rgb(255, 255, 255);
}

.sec3a p {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    padding-top: 1em;
    padding-bottom: 1em;
}

.container-fluid h1, h3 {
    text-align: center;
}

.sec3b {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; /* Adjust as necessary */
    aspect-ratio: 4/3;
    padding: 10%;
}

.sec3b h1 {
    font-size: 3em;
    color: rgb(0, 0, 0);
}

.sec3b p {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    padding-top: 1em;
    padding-bottom: 1em;
}

.sec3b img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec4 {
    position: relative;
    aspect-ratio: 1/1;
    padding: 5%;
}

.sec4 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec4-body {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Change the color to contrast with the image */
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
}

.sec4-body h1 {
    font-size: 3em;
    font-weight: bold;
}

.partners {
    background-color: #1e3e5e; /* Change to your desired background color */
    color: white; /* Change text color if needed */
}

.partners-image {
    color: white; /* Change the color to contrast with the image */
    background-color: rgba(0, 0, 0, 0); /* removing background */
}

.partners-title {
    margin: 0; /* Remove default margin from h1 */
    font-size: 4em; /* Adjust font size as needed */
}

.footer {
    background-color: #1e3e5e;
    color: white;
    padding: 40px;
}
.footer a {
    color: #f8f9fa;
    text-decoration: none;
}
.footer a:hover {
    color: #bdadad;
}
.footer .footer-heading {
    font-weight: bold;
    margin-bottom: 20px;
}
.footer .footer-section {
    margin-bottom: 30px;
}

.company-details p {
    font-size: 1.2em;
}

.f-icon {
    margin-right: 1em;
    font-size: 2em;
}